


<% content_for :primary_content do %>

<h1 class="w-full p-4 mb-4 font-medium leading-5 text-gray-700 rounded shadow ">New Invoice</h1>

<%= render 'form', {invoice: @invoice, expenses: @expenses, condo: @condo} %>


<% end %>

<% content_for :secondary_content do %>
  <h1 class="text-lg text-gray-600">Edit what you want !</h1>
<% end %>


<%= render "basic_layout" %>