<% content_for :primary_content do %>

  <h1>Editing Property</h1>

  <%= render 'form', property: @property %>

 
  <%= link_to 'Back', condo_properties_path %>

<% end %>

<% content_for :secondary_content do %>
  <h1 class="text-lg text-gray-600">Edit what you want !</h1>
<% end %>


<%= render "basic_layout" %>