<% content_for :primary_content do %>

<h1 class="w-full p-4 mb-4 font-medium leading-5 text-gray-700 rounded shadow ">New Property</h1>

  <%= render 'form', property: @property %>

  <%= link_to 'Back', condo_properties_path %>

<% end %>

<% content_for :secondary_content do %>
  <h1 class="text-lg text-gray-600">Create your new property !</h1>
<% end %>

<%= render "basic_layout" %>